__pycache__/\n*.pyc\n.env\ndb.sqlite3\n/media/\n/static/
# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.pot
*.pyc
*.pyo
*.db
local_settings.py
media/
staticfiles/

# Env
.env
venv/
.env.*

# IDE
.vscode/
.idea/

# Docker
*.bak
*.swp
*.swo
Dockerfile
docker-compose.override.yml

# Node
node_modules/
